examples/ant/helloworld/build/

examples/gradle/helloworld/build/
examples/gradle/helloworld/.gradle/
examples/gradle/helloworld/.settings/
examples/gradle/helloworld/.project

examples/maven/helloworld/target/

external/oracle_javacard_simulator/java_card_devkit_simulator*.tar.gz
